@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* :root{
    colores
} */
html{
    font-size: 62.5%;
    font-family: 'Roboto mono', monospace;
}
a{
    text-decoration: none;
    color: black;
}
.home-body{
    width: 100%;
    min-height: 100vh;
    background: #e5e2e2;
    display: flex;
    flex-direction: column;
}
.img-header{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-header h1{
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}
.home-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;    
}
.repo-main{
    padding-top: 15px;
    align-items: flex-start; 
}
.home-a{
    margin: 0px 5px 0px 5px;
    min-width: 280px;
    max-width: 700px;
    width: 40vw;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:15px;
	border:1px solid #d83526;
    cursor:pointer;
	color:#ffffff;
    font-size: 2.5rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.home-a:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.home-a:active {
	position:relative;
	top:1px;
}
.repo-a{
    min-width: 180px;
    max-width: 400px;
    width: 20vw;
    height: 200px;
}
.nav{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-informes{
    margin-bottom: 10px;
}
.icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tec-icon {
    background-image: url('https://i.postimg.cc/SKmKpF31/soporte-tecnico.png');
}
.aac-icon {
    background-image: url('https://i.postimg.cc/sgY28D6Z/servicio-al-cliente.png'); 
}
.alm-icon {
    background-image: url('https://i.postimg.cc/pXnrfBKC/almacen.png');
}
.ven-icon {
    background-image: url('https://i.postimg.cc/YCK9bm3H/venta-al-por-mayor.png');
}
.inf-icon {
    background-image: url('https://i.postimg.cc/fys3ktrZ/informe-seo.png');
    margin-bottom: 10px;
}
.rep-icon {
    background-image: url('https://i.postimg.cc/cCcv3xp3/inmigracion.png');
}
.adi-icon {
    background-image: url('https://image.flaticon.com/icons/png/512/1349/1349201.png');
}
.roci-icon {
    background-image: url('https://image.flaticon.com/icons/png/512/1436/1436909.png');
}
.sal-icon {
    background-image: url('https://image.flaticon.com/icons/png/512/2790/2790184.png');
}
main h2{
    color: black;
    font-size: 2.5rem;
}
.informes-main{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.informes-main h2{
    text-align: center;
}
.form {
    width: 70vw;
    max-width: 500px;
    height: 25px;
    color: white;
    background-color: #ce0100;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
footer p{
    margin-top: 20px;
    margin-left: 20px;
}
